go 1.26.0

use (
	.
	./examples
	./jobs
	./jwt
	./monetary
	./openapi
	./osrelease
	./postgres
	./providers/mailgun
	./providers/s3
	./providers/supabase
	./providers/temporal
	./providers/workos
	./web
)
